<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图片展示</title>
</head>
<body>
    下面是要展示的图片<br/>
    <!--{% for item in imgs %}-->
        <!--<img src="{{ item.imageOri.url }}"><br/>-->
        <!--&lt;!&ndash;<img src="/FaceDetandRec/media/imgOri">&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="/FaceDetandRec/media/imgOri">。。。</a>&ndash;&gt;-->
    <!--{% endfor %}-->
    <img src="{{ img.imageTar.url }}"><br/>
    <!--<img src="testImg.url"><br/>-->
</body>
</html>
